.App {
  text-align: center;
  display: flex;
  background-color: #EEF2F5ff;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
.navbar{
  padding: 50px 0px 0px 0px;
  display: flex;
  flex-direction: column;
  width: 300px;
  height: 100vh;
}
.navbar>h1{
  margin: 0px 0px 50px 0px;
}
.navbar > button{
  border: none;
  font-size: 30px;
  background-color: transparent;
  margin: 10px;
}
.navbar>button:hover{
  color:orange;
}
.booking-label{
  margin: 8px 20px;
  font-size: 14px;
  text-align: start;
  border: 0px;
  outline: none;
  width: 300px;
  margin-top: 5px;
  padding: 2px;
  background: transparent;
  display: flex;
  flex-direction: column;
  margin-top: 15px;
 
}
.button{
  margin: 20px;
  font-size: 30px;
  background-color: orange;
  justify-content: center;
  width: 200px;
  border: 0px;
  color: white;
  border-radius: 10px;
  padding: 5px;
  height: 50px;

}
.booking-inputbar{
  width: 300px;
  height: 20px;
  padding: 10px;
  margin: 5px 15px;
  /* border-radius: 5px; */
  outline: none;
  border: none;
  background-color: transparent;
  border-bottom: 1px solid black;
}