.nav>h1{
    margin: 0px 0px 50px 0px;
  }
  .nav > button{
    border: none;
    font-size: 30px;
    background-color: transparent;
    margin: 10px;
    width: 200px;
    
  }
  .links>button:hover{
    color:rgba(84, 137, 162, 0.621);
  }
  .links>button{
    border: none;
    font-size: 30px;
    background-color: transparent;
    margin: 10px;
    width: 200px;
    color:#4D34CCff ;
    
  }
  .nav{
    background-color: #FFFEFFff;
    color:#4D34CCff;

    
  }
  .links{
    color:#4D34CCff ;
  }